<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>AngularJS Opacity Button</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
  <script src="app.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="main.css">
</head>

<body>

  <div ng-app="BrandsApp" ng-controller="BrandsCtrl">

    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
    <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>


    <div class="btn-group dropup">
      <button class="btn btn-paypal btn-sm dropdown-toggle" ng-style="{'opacity' : enable1 == 0 ? 0.4 : 1}" style="width:400px;" data-toggle="dropdown">{{brand1}}
        <span class="caret"/>
       </button>
      <button class="btn btn-sm" ng-click="updateCancel($event, 1, name)"s>
         <span class="close">&times;</span></button>
      </button>


      <ul class="dropdown-menu">
        <!-- dropdown menu links -->
        <li ng-repeat="(index,name) in columnList" ng-cloak
        ng-click="updateBrand($event, 1, name)">
        <a>{{name}}</a>
      </li>
    </ul>
  </div>


</div>

</div>


</body>
</html>
